<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/">ObsCOUTURE</a>
  <div class="navbar-nav">
    <% if(!locals.isAuthenticated) { %>
      <a class="nav-item nav-link" href="/register">Sign Up</a>
      <a class="nav-item nav-link" href="/login">Log In</a>
      <% } else { %>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/categories">CATEGORIES</a>
        <a class="dropdown-item" href="/likes">MY LIKES</a>
        <a class="dropdown-item" href="/logout">LOG OUT</a>
        </div>
        </li>
        <a class="nav-item nav-link" href="#">HELLO <%= user.username%>!</a>
        <% } %>
    </div>
</nav>
