<section>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">ObsCouture</a>
    <div class="navbar-nav">
      <% if(!locals.isAuthenticated) { %>
        <a class="nav-item nav-link" href="/register">Sign Up</a>
        <a class="nav-item nav-link" href="/login">Log In</a>
        <% } else { %>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/categories">Categories</a>
          <a class="dropdown-item" href="/userprofile">User</a>
        </div>
      </li>
          <a class="nav-item nav-link" href="/logout">Log Out</a>
          <% } %>
        </div>
      </nav>
</section>
