<div class="container" id="errorpage">
  <div class="row">
    <div class="col-md-4 offset-md-4 border border-secondary">
      <p>ERROR (404)</p>
      <p>Sorry, we could not find the page you were looking for</p>
      <img class="errorimage" src="/images/error_image.jpeg">
    </div>
  </div>
</div>
<% if (error) { %>
  <h1><%= error %></h1>
<% } %>
