<main>
<h1>Index</h1>
<h2>Browse</h2>

<ul>
<% categories.forEach((category) => { %>
  <div class="large-4 columns">
  <li>
  <a href="/homepages/<%= category.id %>">
  <img class="img-thumbnail" src="<%= category.image %>"
  alt="<%= category.name %>" height="200px" width="200px">
  <p><%= category.name %></p></a>
  </li>
  </div>
  <% }); %>

</ul>
</main>
