<section>
  <h1 class="categoriesIndex">Browse</h1>
  <ul>
    <% categories.forEach((category) => { %>
      <li>
      <a class="categoryname" href="/categories/<%= category.id %>">
      <img class="img-thumbnail" src="<%= category.image %>"
      alt="<%= category.name %>">
      <h1 class="categoryname"><%= category.name %></h1></a>
      </li>
      <% }); %>
    </ul>
</section>
