<main>
<h1>Brand Page</h1>
<h2>This is where the individual brands will be displayed</h2>

<ul>
<% brands.forEach((brand) => { %>
  <li>
  <a href="/brands/<%= brand.id %>"><h3><%= brand.name %></h3></a>
  </li>
  <% }); %>
</ul>

</main>
