body {
  font-family: 'Antic Didone', serif;
}

#signup {
  border: 1px solid green;
    position: absolute;
    // margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.categoriesIndex {
  text-align: center;
}

.form-vertical {
border: 1px solid green;
margin: 0 auto;
}
