html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: black;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

//Log in form
.border-secondary {
  padding: 30px;
}

#loginform {
  margin-top: 100px;
}

//New Brand form
#newbrand {
  margin-top: 100px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

#signup {
  border: 1px solid green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
  margin-top: 0.5rem;
  text-align: center;
}

h5{
  margin-top: 0.5rem;
  text-align: center;
}

img {
  margin-bottom: 0.5rem;
}

.btn-secondary {
  margin-right: 5px;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

button:focus {
  outline:0;
}

button:hover {
    background-color: #e7e7e7;
    color: white;
}

.img-fluid {
  max-height: 200px;
  min-width: 200px;
}

.button-column {
  display: inline-block;
  width: 30px;
}

.brand-image {
  margin-left: 30px;
}
